{% extends 'account/base.html' %}
{% load static %}

{% block header %}
<header id='valid-header'>
    <div class="container">
        <h1>Changement de mot de passe</h1>
    </div>
</header>

{% endblock %}


{% block content %}
<section class="sign-up-section">
    <div id="signup-container" class="container">
        <div class="signup-content">
            {% if success == True %}
            <div class="container">
                <div class="signup-validation">
                    <h3>Félicitation !</h3> <br>
                    <p>Votre mot de passe a bien été changé.</p>
                    <span class="connection-link"><a href="{% url 'my_account' %}"> Accéder à mon compte.</a></span>
                </div>
            </div>
            {% else %}
            <div class="signup-form">
                <h2 class="form-title">Mot de passe</h2>
                <form method="post">
                    <div class="form-group">
                      {% csrf_token %}
                        {% if form.errors %}
                            <p class="error-input">• Le changement de mot de passe a échoué. Soit votre ancien mot de passe est incorrect, soit les deux mots de passe ne correspondent pas. </p>
                        {% endif %}

                      {{ form }}
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="change-pass" id="signup" class="form-submit" value="Changer mon mot de passe">
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <img src="{% static 'account/assets/img/portfolio/account/signup_image.png' %}" alt="sing up image">
            </div>
            {% endif %}

        </div>
    </div>
</section>
{% endblock %}
